{% extends 'main.html' %}
{% load static %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <h5>Old Password</h5><input type="password" class="form-control" name="oldpassword" id="oldpassword"><br>
        <h5>New Password</h5><input type="password" class="form-control" name="password1" id="password1"><br>
        <h5>Confirm Password</h5><input type="password" class="form-control" name="password2" id="password2"><br>
        <center><button class="btn btn-success" >Change Password</button></center>
    </form>
{% endblock %}