{% extends 'main.html' %}
{% load static %}
{% block content %}
<h2>Raja</h2>
<!-- <div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'image/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>

            <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right">$20</h4>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'image/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            
            <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block;float:right;"><strong>$20</strong></h4>
            
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'image/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>

            <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

        </div>
    </div>
</div>         -->
<!-- 
<div class="row">
    <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
    <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>
    <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
  </div> -->


<div class="row ">
    {% for p in product %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{p.image.url}}" alt="">

        <!-- Product Description -->
        <div class="box-element product">
            <h6><strong>{{p.name}}</strong></h6>
            <hr>
            <button data-product={{p.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            <!-- <a href="{{ item.get_absolute_url }}"></a> -->
            <a class="btn btn-outline-success" href="{{ p.get_absolute_url }}" name={{p.id}} id={{p.id}}>View</a>
            <h4 style="display: inline-block; float: right"><strong>{{p.price}}</strong></h4>
        </div>
    </div>

   {% endfor %}

</div>


{% endblock content %}